html {
  height: 100%;
  
}
body {
  background-color: #EFEFEF !important;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/main-bg@2x.png");
  background-size: cover;
}

.App {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1, h2, h3, h4, h5, p {
  font-family: 'Roboto Condensed', sans-serif;
}

h1 {
  color: #565657;
}

p {
font-size: 17px;
font-weight: 200;
}

.navbar {
  position: fixed !important;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #4D7EA0;
  z-index: 99;
}

.navbar-brand {
  font-family: 'Baloo Bhai', cursive;
  letter-spacing: 0.5px
}

.btn {
width: 80%;
padding: 10px !important;
margin-bottom: 10px;
font-family: 'Baloo Bhai', cursive;
letter-spacing: 0.5px

}

.primary-btn {
 background-color: #568FB7 !important;
 color: white !important;
}

.primary-btn:hover {
  background-color: #476E89 !important;
 }