.toast-container .toast {
   font-family: 'Lato';
   display: flex;
   align-items: center;
   text-align: center;
   padding: 5px 15px;
   white-space: pre-line;
   min-height: 50px;
   margin-bottom: 15px;
   border-radius: 5px;
   animation-name: fadeInUp;
   animation-duration: 1s;
   animation-fill-mode: both;
 }
 
 .main-logo {
   width: 360px ;
   max-width: 65%;
   margin-bottom: 20px;
   margin-top: 50px;
 }
 
 input {
 font-weight: 200;
 padding: 8px;
 width: 80%;
 text-align: center;
 }
 
 ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
   color: #C6C6C6;
   opacity: 1; /* Firefox */
   font-size: 14px;
 }
 
 :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #C6C6C6;
   font-size: 14px;
 }
 
 ::-ms-input-placeholder { /* Microsoft Edge */
   color: #C6C6C6;
   font-size: 14px;
 }
 
 .hint-container{
   margin-top: 20px;
 }
 .hint-text {
   font-size: 12px;
 }